# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/

# Coverage / test artifacts
*.out
coverage.*
.coverage
htmlcov/

# env / secrets
.env
ephemeral-forge.toml

# Editor/IDE
.idea/
.vscode/
*.swp
*~
